<a href="https://colab.research.google.com/github/sucong2/ai-school-1/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 

### 자료구조 Series와 Dataframe

Pandas에서 제공하는 데이터 자료구조는 Series와 Dataframe 두가지가 존재하는데 Series는 시계열과 유사한 데이터로서 index와 value가 존재하고 Dataframe은 딕셔너리데이터를 매트릭스 형태로 만들어 준 것 같은 frame을 가지고 있다. 이런 데이터 구조를 통해 시계열, 비시계열 데이터를 통합하여 다룰 수 있다.

## Series

In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
fruit = Series([2500, 3800,1200,6000], index = ['apple', 'banana', 'pear','cherry'])

In [6]:
fruit

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [7]:
print(fruit.values)

[2500 3800 1200 6000]

In [10]:
fruitData = {'apple':2500, 'banana': 3800, 'pear':1200, 'cherry':6000}
fruit = Series(fruitData)

In [11]:
fruitData

{'apple': 2500, 'banana': 3800, 'cherry': 6000, 'pear': 1200}

In [12]:
fruit.name = 'fruitPrice'
fruit.index.name = 'fruitName'

In [13]:
fruit

fruitName
apple     2500
banana    3800
pear      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [14]:
fruitData = {'fruitName':['apple','banana','cherry','pear'],'fruitPrice':[2500,3800,6000,1200],'num':[10,5,3,8]}

In [15]:
fruitFrame = DataFrame(fruitData)

In [16]:
fruitFrame

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      pear        1200    8

In [17]:
fruitFrame = DataFrame(fruitData, columns= ['fruitPrice','num','fruitName'])

In [18]:
fruitFrame

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      pear

In [19]:
fruitFrame['fruitName']

0     apple
1    banana
2    cherry
3      pear
Name: fruitName, dtype: object

In [20]:
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3      pear
Name: fruitName, dtype: object

In [21]:
fruitFrame['Year']= 2022

In [22]:
fruitFrame

   fruitPrice  num fruitName  Year
0        2500   10     apple  2022
1        3800    5    banana  2022
2        6000    3    cherry  2022
3        1200    8      pear  2022

In [24]:
variable = Series([4, 2, 1], index = [0,2,3])
print(variable)

0    4
2    2
3    1
dtype: int64

In [26]:
fruitFrame['stock'] = variable

In [27]:
fruitFrame

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2022    4.0
1        3800    5    banana  2022    NaN
2        6000    3    cherry  2022    2.0
3        1200    8      pear  2022    1.0

In [28]:
fruit = Series([2500, 3800, 1200, 6000], index=['apple','banana','pear','cherry'])
fruit

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [29]:
fruit.drop('banana')

apple     2500
pear      1200
cherry    6000
dtype: int64

In [30]:
fruitData

{'fruitName': ['apple', 'banana', 'cherry', 'pear'],
 'fruitPrice': [2500, 3800, 6000, 1200],
 'num': [10, 5, 3, 8]}

In [31]:
fruitName = fruitData['fruitName']

In [32]:
fruitName

['apple', 'banana', 'cherry', 'pear']

In [33]:
fruitFrame2 = fruitFrame.drop(['apple'])

KeyError: ignored

In [34]:
fruitData1 = {'Ohio' : [4,8,3,5],'Texas' : [0,1,2,3]}
fruitFrame1 = DataFrame(fruitData1,columns=['Ohio','Texas'],index = ['apple','banana','cherry','peer'])
fruitData2 = {'Ohio' : [3,0,2,1,7],'Colorado':[5,4,3,6,0]}
fruitFrame2 = DataFrame(fruitData2,columns =['Ohio','Colorado'],index = ['apple','orange','banana','cherry','mango'])

In [35]:
fruitFrame2

        Ohio  Colorado
apple      3         5
orange     0         4
banana     2         3
cherry     1         6
mango      7         0

In [36]:
fruitFrame1

        Ohio  Texas
apple      4      0
banana     8      1
cherry     3      2
peer       5      3

In [37]:
fruit

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [39]:
fruit.sort_values() #기본은 내림차순

pear      1200
apple     2500
banana    3800
cherry    6000
dtype: int64

In [41]:
fruit.sort_values(ascending=False) #ascending의 기본은 True

cherry    6000
banana    3800
apple     2500
pear      1200
dtype: int64

In [42]:
fruit.sort_index()

apple     2500
banana    3800
cherry    6000
pear      1200
dtype: int64

In [43]:
fruitFrame

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2022    4.0
1        3800    5    banana  2022    NaN
2        6000    3    cherry  2022    2.0
3        1200    8      pear  2022    1.0

In [44]:
fruitFrame.sort_index()

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2022    4.0
1        3800    5    banana  2022    NaN
2        6000    3    cherry  2022    2.0
3        1200    8      pear  2022    1.0

In [46]:
fruitFrame.sort_values(by = ['fruitPrice'])

   fruitPrice  num fruitName  Year  stock
3        1200    8      pear  2022    1.0
0        2500   10     apple  2022    4.0
1        3800    5    banana  2022    NaN
2        6000    3    cherry  2022    2.0